* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

p {
  font-weight: 200;
}

.hero {
  position: relative;
  background-image: url("Header.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.nav__landing__header {
  padding: 1rem 1.9rem;
}

.nav__info__list {
  display: flex;
}
.nav__info__list__items {
  list-style: none;
  padding: 1rem 1.9rem;
}

.jumbotron {
  text-align: center;
  margin: 0 auto;
  max-width: 60%;
}

.jumbotron__heading {
  font-size: 5rem;
  padding-bottom: 1rem;
  line-height: 1.2;
}

.jumbotron__subheading {
  padding-bottom: 1.4rem;
}

.btn__projects {
  font-size: .8rem;
  padding: 1.3rem 2.5rem;
  border-radius: 50px;
  border-color: rgb(50, 93, 255);
  outline: none;
  background-color: rgb(50, 93, 255);
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .25rem;
}

.info {
  display: flex;
  background-color: white;
}

.info__article {
  box-sizing: border-box;
  padding: 5rem 3rem 5rem 3rem;
  flex: 1 1 calc(1 / 2 * 100%);
}

.info__article__heading {
  font-size: 2.3rem;
  font-weight: 300;
}

.info__article__subheading {
  margin: 2rem 0 3rem 0;
}

.info__img {
  background-size: cover;
  flex: 1 1 calc(1 / 2 * 100%);
}
.building {
  background-image: url("Rectangle 2.png");
}
.tree {
  background-image: url("Rectangle 10.png");
}

.rose {
 background-image: url("Rectangle 11.png");
}

.flowers {
 background-image: url("Rectangle 14.png");
}

.card {
  background-color: rgb(250, 250, 250);
}

.wrapper {
  text-align: center;
  background-color: rgb(250, 250, 250);
  padding: 3rem 0;
}

.cards__top {
  width: 60%;
  margin: 0 auto;
}

.cards__top__heading {
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: .5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(250, 250, 250);
}

.cards__border {
  margin: 1rem;
  text-align: center;
  border: 1px solid rgb(206, 206, 206);
}

.cards__content {
  padding: 3rem 2rem;
  background-color: white;
}

.cards__content__heading {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem;
  font-family: "Lato", sans-serif;
}

.cards__content__para {
  padding-bottom: 1rem;
}

.cards__icon {
  background-image: url("Ellipse 1.png");
  background-size: cover;
  height: 4.5rem;
  width: 4.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("ocean.png");
  background-size: cover;
  height: 500px;
  color: white;
}

.video__content {
  width: 60%;
  margin: 0 auto;
}

.video__content__play {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 2rem;
}

.video__content__headings {
  font-size: 1.9rem;
  padding-bottom: .5rem;
}

.featured {
  text-align: center;
  background-color: rgb(250, 250, 250);
  padding: 3rem 0;
}

.featured__content {
  width: 60%;
  margin: 0 auto;
}

.featured__heading {
  font-size: 1.9rem;
  padding-bottom: .5rem;
}

footer {
  text-align: center;
  background-color: rgb(50, 93, 255);
  color: rgb(158, 178, 255);
  padding: 2rem 0;
}

@media (max-width: 910px) {
  html {
    font-size: 13px;
  }

  .hero {
    min-height: 500px;
  }
  
  .nav {
    flex-direction: column;
    padding: 0;
    font-size: 1.2rem;
  }

  .jumbotron__heading {
    font-size: 4rem;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .video {
    max-height: 350px;
  }
}

@media (max-width: 640px) {
  .info {
    flex-direction: column;
    flex-basis: 100%;
  }

  .info__img {
    padding-bottom: 100%;
    order: 1;
  }

  .info__article {
    order: 0;
  }

  .width-sm {
    width: 90%;
  }
}

@media (max-width: 490px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .nav__info__list__items {
    padding: 1rem .7rem;
  }

  .jumbotron {
    max-width: 90%;
  }

  .video {
    max-height: 300px;
  }
  
}

@media (min-width: 1500px) {
  html {
    font-size: 22px;
  }
}
